= form_tag add_existing_resources_path, method: :post do
  -@resources.each do |r|
    =check_box_tag "resource_id[]", r.id, false
    =label_tag r.name
    %br
  =hidden_field_tag :step_id,  @step_id
  =submit_tag "Submit", id: "add_resource", class: 'btn btn-default'

