%h1 New step

= form_for(@step, url: journey_steps_path(@journey_id)) do |f|
  = render :partial => 'form', :locals => {:f => f}
  .actions
    = f.submit 'Save', class: "btn btn-default"
    %br
  = link_to 'Back', edit_value_proposition_path(@value_proposition_id)
