// Place all the styles related to the journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input-group {
  border-radius: 10px;
}

.form-control {
  margin-bottom: 20px;
}

#new-journey-btn{
  background-color: #FFF;
  color: rgba(247 ,143 ,49,1);
  font-size: 80px;
  font-weight: bold;
}

.create-btn{
  font-size: 28px;
  background-color: #7eced5;
}
