%h1 New Journey

=form_for(@journey, url: value_proposition_journeys_path(@value_proposition_id)) do |form|
  = form.text_field :title, placeholder: 'Title', id:'journey_title'
  = form.submit 'Save', class: "btn btn-default", id: 'add_journey'
= link_to 'Back', edit_value_proposition_path(@value_proposition_id)
